[submodule "thirdparty/openal-soft"]
	path = thirdparty/openal-soft
	url = https://github.com/RogueFairyStudios/openal-soft
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
